:root {
    --dark-blue: #2e3d50;
    --light-blue: #d9e7e8;
}


* {
    background-color: var(--dark-blue);
    border: 1px solid red;
}

body {
}

body h1 {
    font-family: serif;
    margin: 0;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    text-align: center;
    padding: 10px;
}

form {
    background-color: var(--light-blue);
}